<div class="container-fluid">
	<% if flash[:notice] %>
	  <div class="alert alert-success mt-3" role="alert">
	   <div class="notice"> 
	     <%=flash[:notice] %> 
	   </div>
	  </div>
	<% end %>

	<div class="card text-center mt-3">
	  <div class="card-header">
	  	<%= @event.title %>
	  </div>
	  <div class="card-body">
	    <h5 class="card-text"><%= @event.location%></h5>
	    <p class="card-text">Description : <%= @event.description%></p>
	    <p class="card-text">Price : <%= @event.price%> €</p>
	    <p class="card-text">Organizer : <%= @event.admin.email%></p>
	  </div>
	  <div class="card-footer text-muted font-italic">
	  	Start date : <%= @event.start_date.strftime("%Y/%m/%d at %H:%M") %>
	  	End date : <%= @event.end_date.strftime("%Y/%m/%d at %H:%M") %>
	  </div>
	</div>

	<% if signed_in? %>
		<% if current_user == @event.admin %>
			<%= link_to "Attendees list for my event", event_attendances_path(@event.id), :class => "btn btn-secondary mt-1"%>
			<% if @event.validated == nil || false %>
			<p class="mt-1">This event has not been validated yet</p>
			<% end %>
		<% elsif @event.attendees.include?(current_user) %>
		<p> You are registred for this event </p>
		<% else %>			
			<%= link_to "Register for this event", new_event_attendance_path(@event.id), :class => "btn btn-secondary mt-1"%>
		<% end %>		
	<% end %>
	<div class="mt-3">
		<% if @event.avatar.attached? %>
	  		<%= image_tag @event.avatar, alt: 'avatar', class: "mt-1" %>
		<% else %>
	  		<p class="mt-1">=== There is no image yet for this event ===</p>
		<% end %>
	</div>
</div>